SERVER_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=kibt_leads
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=balandafm@gmail.com
SMTP_PASS=jpcg zhhh zzig mzty
SMTP_FROM="KIBT Leads <balandafm@gmail.com>"
RATE_LIMIT_RPS=10 #  Пропуск запросов в секунду от одного ip
RATE_LIMIT_BURST=20 # Максимальный размер ведра с токенами
LOG_LEVEL=info